.Rproj.user

.Rhistory
.RData
.Ruserdata


# data files
data/dorothea
data/dvd
data/limma
data/piano
data/progeny
models/dorothea_regulon_old_version.rdata
misc/exp_meta.RData

# source files
src/tidy_data.R
src/debugging.R

*.html
*.Rproj
